<div class="row">
  <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class= mx-auto>
          <h1>ナレコミュ</h1>
      </div>
      <p>Knowledge Community（ナレッジコミュニティー）を略して「ナレコミュ」</p>
      <p>コーディング、DB、その他のITに関する質問、回答を投稿することができる情報共有コミュニティサイトです。</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <!-- btn-infoは、水色、mb-3でボタンの下側に余白を指定する-->
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
        </div>

        <div class="row">
          <!-- btn-infoは、水色、mb-3でボタンの下側に余白を指定する-->
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ゲストログイン</a>
        </div>

        <div class="row">
          <!-- btn-successは、緑色-->
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">新規登録</a>
        </div>
      </div>
  </div>
</div>